# also see: https://github.com/github/gitignore/blob/main/Python.gitignore
# also see: https://github.com/github/gitignore/blob/main/Node.gitignore

# Folders
node_modules/
__pycache__/
.direnv/

# Files to keep
# we use .gitkeep to keep empty folders
**/data/*
data/*
!data/
!.gitkeep

# Files to ignore
*.env

# Workspace Specific:
build/
dist/
*.egg-info

aget_cache
