# color.py - colorma.init for windows cmd.exe
# db.py
#
#     rel2abs
#     truncate
#     Code.GREEN and Code.RED
#     pysqlite3 for linux
#
# error.py
#
#     ic       : print_error_information, print_variables_by_frame, Frame.printing, Frames.printing
#     truncate : Frames.printing
#     ipdb     : if in ipdb shell
#
# ic.py
#
#     print_dict : ib
#     truncate   : total [6] list_fmt [3] ib [1] Table.to_string [2]
#     Date       : checking if Date
#
# common.py
# timer.py

aiohttp==3.8.1
colorama==0.4.4
Columnar==1.3.1
executing==0.8.2
ipdb==0.13.9
pysqlite3==0.4.7
python_dateutil==2.8.2
rich==12.5.1
timeago==1.0.14
