# color.py - colorma.init for windows cmd.exe
# common.py
# db.py - rel2abs, truncate, green/red, pysqlite3 for linux
# error.py - ic for Frame.printing|print_variables_by_frame, truncate for Frames.printing
# ic.py
# timer.py
aiohttp==3.8.1
colorama==0.4.4
Columnar==1.3.1
executing==0.8.2
ipdb==0.13.9
pysqlite3==0.4.7
python_dateutil==2.8.2
rich==12.5.1
timeago==1.0.14
